@page "/editnote"
@using WebUI.Helpers
@using WebUI.Services;
@using global::Data.ViewModels;
@inject INoteService noteService;
@inject IJSRuntime JsRuntime;

<h2>Edit Note</h2>

<EditForm Model="model" OnValidSubmit="@HandleValidSumbit">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12">
                <div class="d-flex flex-column">
                    <label>Id</label>
                    <InputText id="id" @bind-Value="id" class="form-control" />
                    <label>Title</label>
                    <InputText id="title" @bind-Value="model.Title" class="form-control" />
                    <label>Details</label>
                    <InputText id="details" @bind-Value="model.Details" class="form-control" />
                    <button type="submit" class="mt-3 btn btn-info">Submit</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private UpdateNoteViewModel model = new UpdateNoteViewModel();
    private string id = "";

    private async void HandleValidSumbit()
    {
        Guid guid = GuidHelper.TryParse(id);

        if (guid != Guid.Empty)
        {
            model.Id = Guid.Parse(id);
            var result = await noteService.Update(model);
            
            if(result.IsSuccessStatusCode)
                await JsRuntime.InvokeVoidAsync("alert", "success");
            else
                await JsRuntime.InvokeVoidAsync("alert", "note with this id not found");
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "your id its not guid");
    }
}