@page "/login"
@using Data.ViewModels
@inject IAuthorizeService authorizeService;
@inject NavigationManager NavManager;

<MudGrid Spacing="2" Justify="Justify.Center" Class="mt-3" Row="true">
    <MudItem xl="5" lg="5" md="6" sm="8" xs="12">
        <h3 class="text-center mb-5">Login</h3>
        <MudTextField T="string" Label="UserName" Variant="Variant.Outlined" @bind-Value="@model.UserName" />
        <MudTextField T="string" Label="Password" Variant="Variant.Outlined" @bind-Value="@model.Password" />
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit" Class="mt-5" FullWidth="true">Ok</MudButton>
        <MudLink Color="Color.Inherit" Class="mt-3 d-flex justify-content-center" Href="register">I Don't have account</MudLink>
    </MudItem>
</MudGrid>

@code {
    LoginViewModel model = new LoginViewModel();

    public async void Submit()
    {
        var result = await authorizeService.LoginAsync(model);

        if (result)
            NavManager.NavigateTo("");
    }
}
